{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
    <h1 class="text-center">All posts<span class="text-muted fs-6 fw-normal">Total: {{ page_obj.paginator.count }}</span></h1>
<!--    {% if is_not_subscriber %}-->
<!--        <p class="text-center"><a href="{}" class="btn btn-secondary btn-sm">Subscribe!</a> </p>-->
<!--    {% endif %}-->
    <hr>
<h3>{% current_time %}</h3>
    <hr>

    {% for newspost in category_news_list %}
        <li class="list-group-item">
            <small class="fw-bold">{{ post.post_datetime | date:'d M Y' }}</small>
            <small class="text-muted">(Author: {{ post.post_author }})</small><br>
            <small class="fw-bold">Category:
                {% for cat in newpost.post_category.all %}
                    <a href="{% url 'category_list' category.id %}"> {{ cat.category_name }}</a>
                {% endfor %}
            </small>
            <p>{{ post.post_value | truncatechars:20 | censor }}</p>
        </li>
    {% endfor %}

<!--Pagination-->

    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

<!--    {{ posts }}-->
{% endblock content %}
